---
import { t } from "i18next";
import SectionContainer from "../components/SectionContainer.astro";

const EXPERIECES = [
  {
    title: "Vintex",
    job_title: "Desarrollador de Software (Freelance)",
    time: "Diciembre 2023 - Actualidad",
    description:
      "Trabajo como desarrollador de software de manera freelance y part-time. Me encargo de proyectos de desarrollo de software cada cierto tiempo",
    key: "vintex",
  },
  {
    title: "Foo Talent",
    job_title: "Desarrollador Full Stack",
    time: "Julio 2023 - Noviembre 2023",
    description:
      "Contribuí al desarrollo de aplicaciones web interactivas y seguras en una reconocida startup de abogados en Perú.",
    items: [
      "Diseñé interfaces de usuario para mejorar la experiencia del usuario en diversos dispositivos.",
      "Colaboré de manera efectiva en equipos de desarrollo, facilitando lacomunicación y la resolución de problemas.",
      "Mantuve y mejoré constantemente la calidad y el rendimiento del código.",
    ],
    key: "fooTalent",
  },
  {
    title: "Desarrollador Freelance",
    time: "Marzo 2022 - Actualidad",
    description: "Trabajo freelance en diversos proyectos desde marzo de 2022.",
    key: "freelance",
  },
];
---

<SectionContainer id="experience" class="my-28">
  <h2 class="font-bold my-5 text-3xl text-[#cacacd]">{t("sections.experience")}</h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
      EXPERIECES.map(({ job_title, items, key }) => (
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-[#9b5de5] rounded-full mt-1.5 -start-1.5 border border-white" />
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            {t(`experiences.${key}.time`)}
          </time>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            {t(`experiences.${key}.title`)}{" "}
            {job_title && `- ${t(`experiences.${key}.job_title`)}`}
          </h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 py-2">
            {t(`experiences.${key}.description`)}
          </p>
          {items && (
            <ul class="list-disc pl-6 mb-4 text-base font-normal text-gray-600 dark:text-gray-400">
              {items.map((_, i) => (
                <li>{t(`experiences.${key}.items.${i}`)}</li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ol>
</SectionContainer>
